.delivery-container {
  position: absolute; 
  top: 60%; 
  width: 20%;
  right: 10%;
  height:19%;
  background-color: #fff; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.delivery-heading h2 {
  text-align: center; 
  color: #333;
  font-weight: bold; 
  margin: 0; 
  padding: 10px 0; 
}